$base_background: #F9F9F9;
$base_text_color: #5F5F5F;
$base_white_color: #fff;
$base_link_color: #F17685;
$base_red_color: #F17685;
$base_hover_color: #F17685;
$base_font_size: 18px;
$base_font_family: 'SF Pro Display';
$base_width: auto;
$base_form_placeholder: #DBDBDB;